body {
    background-color: var(--color-default);
    color: var(--color-white);

    display: flex;
    flex-direction: column;
}

.buttons {
    display: flex;
    justify-content: end;

    gap: var(--spacing-1);
    margin: var(--spacing-1);
}
button {
    border: none;
    background-color: var(--color-default);
    color: var(--color-white);
    font-size: var(--text-64);
}
button:hover {
    cursor: pointer;
    border-bottom: var(--spacing-px) var(--color-white) solid;
}

zero-md {
    margin: var(--spacing-1);
}
