/* variables */

:root {
    --font-sans-serif: Verdana, Arial, sans-serif;

    --color-black: #000;
    --color-white: #fff;
    --color-grey: #777;
    --color-dark-grey: #333;

    --spacing-px: 1px;
    --spacing-1: 0.25rem;
    --spacing-2: 0.5rem;
    --spacing-3: 0.75rem;
    --spacing-4: 1rem;
    --spacing-6: 1.5rem;
    --spacing-8: 2rem;
    --spacing-16: 4rem;
    --spacing-32: 8rem;
    --spacing-48: 12rem;
    --spacing-64: 16rem;
    --spacing-128: 32rem;

    --text-4: 0.5rem;
    --text-8: 0.75rem;
    --text-16: 1rem;
    --text-32: 1.25rem;
    --text-48: 1.375rem;
    --text-64: 1.5rem;
    --text-96: 1.75rem;
    --text-128: 2rem;
    --text-160: 2.5rem;
    --text-192: 3rem;
    --text-256: 4rem;

    font-family: var(--font-sans-serif);
}

/* CSS reset */

html,
body,
div,
h2,
h3,
h4,
p,
a,
img,
ul,
li,
footer,
main,
header,
nav {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* styling */

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-black);
    color: var(--color-white);
    font-size: var(--text-64);

    display: flex;
    flex-direction: column;

    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
}

nav,
.special-quote {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

nav {
    background: transparent;
    backdrop-filter: blur(var(--spacing-3));
    -webkit-backdrop-filter: blur(var(--spacing-3));

    border-bottom: var(--spacing-px) var(--color-dark-grey) solid;
    box-sizing: border-box;
    padding: var(--spacing-2);

    justify-content: space-around;

    width: 100%;
    position: fixed;

    gap: var(--spacing-4);
}

nav > ul + ul > li > a {
    color: var(--color-grey);
}
ul + ul > li > a:hover {
    color: var(--color-white);
}
ul {
    list-style: none;
    flex-wrap: wrap;
    gap: var(--spacing-8);
    display: flex;
}
.special-quote {
    margin: var(--spacing-16) var(--spacing-4) 0 var(--spacing-4);
    font-size: var(--text-160);
    gap: var(--spacing-8);

    justify-content: center;
}

header img,
.team img {
    clip-path: circle();
    width: var(--spacing-48);

    position: relative;
    z-index: -1;
}

main {
    margin-top: var(--spacing-16);
}

.overview,
.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.overview {
    font-size: var(--text-96);
    gap: var(--spacing-16);
    margin-bottom: var(--spacing-8);
}
.info {
    gap: var(--spacing-4);
    flex-wrap: wrap;
    margin: 0 var(--spacing-4);
}
.info > h3 {
    margin: 0 var(--spacing-6);
}

.heading {
    font-size: var(--text-128);
    border-bottom: var(--color-dark-grey) solid var(--spacing-px);
    width: 100%;
}

.member {
    font-size: var(--text-64);

    margin: var(--spacing-8);

    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}
.member-info {
    margin-left: var(--spacing-8);
    margin-top: var(--spacing-2);
}

.download ul,
footer ul {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.download {
    margin-top: var(--spacing-8);
    margin-bottom: var(--spacing-32);
}
.download > ul {
    margin-top: var(--spacing-8);
}
footer img {
    background-color: var(--color-white);
    width: var(--spacing-8);
}
a {
    text-decoration: none;
    color: var(--color-white);
}
.download a {
    color: var(--color-grey);
}
.download a:hover {
    text-decoration-line: underline;
    color: var(--color-white);
}
