body {
    background-color: var(--color-black);
    color: var(--color-white);
    font-size: var(--text-64);

    display: flex;
    flex-direction: column;

    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
}

nav,
.special-quote {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

nav {
    background: transparent;
    backdrop-filter: blur(var(--spacing-3));
    -webkit-backdrop-filter: blur(var(--spacing-3));

    border-bottom: var(--spacing-px) var(--color-dark-grey) solid;
    box-sizing: border-box;
    padding: var(--spacing-2);

    justify-content: space-around;
    will-change: transform;

    width: 100%;
    position: fixed;

    gap: var(--spacing-4);
}

nav > ul + ul > li > a {
    color: var(--color-grey);
}
ul + ul > li > a:hover {
    color: var(--color-white);
}
ul {
    list-style: none;
    flex-wrap: wrap;
    gap: var(--spacing-8);
    display: flex;
}
.special-quote {
    margin: var(--spacing-16) var(--spacing-4) 0 var(--spacing-4);
    font-size: var(--text-160);
    gap: var(--spacing-8);

    justify-content: center;
}

header img,
.team img {
    clip-path: circle();
    width: var(--spacing-48);
}

main {
    margin-top: var(--spacing-16);
}

.overview,
.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.overview {
    font-size: var(--text-96);
    gap: var(--spacing-16);
    margin-bottom: var(--spacing-8);
}
.info {
    gap: var(--spacing-4);
    flex-wrap: wrap;
    margin: 0 var(--spacing-4);
}
.info > h3 {
    margin: 0 var(--spacing-6);
}

.heading {
    font-size: var(--text-128);
    border-bottom: var(--color-dark-grey) solid var(--spacing-px);
    width: 100%;
}

.member {
    font-size: var(--text-64);

    margin: var(--spacing-8);

    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}
.member-info {
    margin-left: var(--spacing-8);
    margin-top: var(--spacing-2);
}

.download ul,
footer ul {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.download {
    margin-top: var(--spacing-8);
    margin-bottom: var(--spacing-32);
}
.download > ul {
    margin-top: var(--spacing-8);
}
footer img {
    background-color: var(--color-white);
    width: var(--spacing-8);
}
a {
    text-decoration: none;
    color: var(--color-white);
}
.download a {
    color: var(--color-grey);
}
.download a:hover {
    text-decoration-line: underline;
    color: var(--color-white);
}
